$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}
